<%= form_with(model: @block, local: true) do |f| %>

    <%= render 'shared/error_messages', object: f.object %>
  
    <h3>Blockの名前を記述してください</h3>
    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div> 

    <h3>urlのnameとaddressを記述してください</h3>
    <div class="field">
        <%= f.fields_for :urlsets do |url_form| %>
            <div class="url-set">
                <%= url_form.label :name %>
                <%= url_form.text_field :name %>
                <%= url_form.label :address %>
                <%= url_form.text_field :address %>
            </div>
        <% end %>
    </div>

    <div class="actions">
        <%= f.submit submit_label %>
    </div>
<% end %>