<h2><%= @block.name %></h1>

<ul class="block-show-ul">
  <% @block.urlsets.each do |urlset| %>
    <li>
        <strong class="block-show-urlname"><%= urlset.name %></strong><%= urlset.address %>
        <% if @search_word && @each_word_counts %>
            <% if @each_word_counts[urlset.id] == -1 %>
                <strong>(error)</strong>
            <% elsif @each_word_counts[urlset.id] %>
                <strong>(<%= @each_word_counts[urlset.id] %> matches)</strong>
            <% end %>
        <% end %>
    </li>

  <% end %>
</ul>

<div class="block-show-form">
  <%= form_with url: block_path(@block), method: :get, local: true do |f| %>
    <%= f.text_field :search, placeholder: "探したい単語を入力", value: @search_word %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<div class="back-button-parent">
  <%= link_to '戻る', blocks_path, class: 'back-button' %>
</div>